services:
  app:
    build: .
    ports:
      - "8900:8900"
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    command: [ "uv", "run", "chainlit", "run", "src/app.py", "-w", "--host", "0.0.0.0", "--port", "8900" ]
